:root {
    --primary-color: #0d4c94;
    --little-grey: #f0f3f4;
    --secondary-color: #001828;
    --hovered-button: #5e5bff;
}
body {
    font-family: 'Poppins';
}
h1 {
    font-size: 64px;
    font-weight: bold;
}
h2 {
    font-size: 48px;
    font-weight: 700;
}
h3 {
    font-size: 36px;
    font-weight: 500;
}
h4 {
    font-size: 24px;
    font-weight: 300;
}
p {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    max-height: 40px;
}
.page-head {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--primary-color) 0%, var(--primary-color) 90%, #fff 90%);
    width: 100%;
    min-height: 450px;
    max-height: 545px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.vision {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    justify-content: center;
    align-items: center;
}
.mission {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    background-color: var(--little-grey);
}
.mission-items {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.mission-items-row {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}
.mission-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.mission-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 250px;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}
.team-cards {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    padding: 0 calc(58% - 460px);
}
.team-cards-row {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 140px;
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 1px #0000004b;
}
.team-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.send-message-parant{
    display: flex;
    flex-flow: wrap row-reverse;
    width: auto;
    height: auto;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    background-color: var(--little-grey);
    padding-right: 12%;
}
.logo {
    display: flex;
    flex-flow: wrap row;
    min-width: 45%;
    justify-content: center;
    margin-left: 20px;
}

.logo img{
    width: 210px;
    height: auto;
    margin-right: 15px;
}
.send-message-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.message-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    width: 275px;
    height: 350px;
    padding: 0 25px;
    border-radius: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.form-param {
    text-align: right;
    width: 100%;
    color: #ffffff;
}
#email ,#message, #name {
    width: 85%;
    height: 27px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid var(--little-grey);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
#message {
    text-overflow: clip;
    overflow-wrap:break-word;
    min-width: 85%;
    max-width: 85%;
    height: 85px;
    min-height: 85px;
    max-height: 150px;
}
#email:hover ,#message:hover, #name:hover {
    border-color: var(--primary-color);
}
.message-button {
    width: 60px;
    height: 35px;
    color: #ffffff;
    background-color: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--hovered-button);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.message-button:hover {
    background-color: var(--hovered-button);
}

.intro-svg {
        fill: var(--primary-color);
        transform: rotate(180deg) translateY(55px);
        -webkit-transform: rotate(180deg) translateY(55px);
        -moz-transform: rotate(180deg) translateY(55px);
        -ms-transform: rotate(180deg) translateY(55px);
        -o-transform: rotate(180deg) translateY(55px);
}



@media (max-width:768px) {
    h1 {
    font-size: 48px;
    font-weight: bold;
    }
    h2 {
        font-size: 36px;
        font-weight: 700;
    }
    h3 {
        font-size: 24px;
        font-weight: 500;
    }
    h4 {
        font-size: 18px;
        font-weight: 300;
    }
    p {
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        max-height: 40px;
    }
    .page-head {
        padding-top: 10%;
    }
    .intro-svg {
        fill: var(--primary-color);
    }
    .message-form {
        width: 80%;
        margin-right: -20px;
        height: 300px;
        font-size: 16px;
    }
    #email ,#message, #name {
        width: 95%;
        min-width: 95%;
        max-width: 95%;
    }
}
@media (max-width: 875px) {
    .logo {
        display: none;
    }
    .send-message-parant {
        justify-content: flex-start;
    }
}
