.hero-heading {
  max-width: "1000px";
  word-break: break-word;
  // font-size: 86px;
  font-weight: 400;
  letter-spacing: -4;
  line-height: 1.2;

  @include devices(medium) {
    max-width: 700px;
    //   font-size: 18px;
  }

  @include devices(small) {
    max-width: 500px;
    //   font-size: 36px;
  }

  & span {
    color: $secondary;
  }
}

.hero-subheading {
  font-size: 20px;

  @include devices(small) {
    font-size: 1rem;
  }

  word-break: break-word;
  width: 90%;
  max-width: 400px;
  line-height: 1.25;
  letter-spacing: -1;
}

.hero-content {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  text-align: start;
  color: white;
  max-width: unset;

  align-items: center;
  text-align: center;

  @include devices(small) {
    max-width: unset;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 90%;
  }

  @include devices(medium) {
    max-width: 768px;
  }

  @include devices(large) {
    align-items: start;
    text-align: start;
  }
}

// .hero-swoop {
//   position: absolute;
//   background-image: url("../assets/home/swoop-image.svg");
//   background-repeat: no-repeat;
//   background-size: 100% 100%;

//   position: absolute;
//   width: 100vw;
//   height: 352.09px;
//   left: 0;
//   top: 680.91px;

//   // arabic-to-english
//   // transform: matrix(-1, 0, 0, 1, 0, 0);
// }

#hero {
  position: relative;
}

.hero-swoop {
  position: absolute;
  background-image: url("../assets/home/swoop-image.png");
  background-repeat: no-repeat;
  height: 50%;
  width: 100vw;
  left: 0;
  bottom: -1px;
  z-index: 100;
  background-position: bottom;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#hero {
  background-image: radial-gradient(
    55.82% 143.24% at 15.89% 44.18%,
    rgba(13, 76, 148, 0.78) 0%,
    #0d4c94 100%
  );
  padding-bottom: 50px;

  @include devices(large) {
    padding-bottom: calc(681px / 4);
  }
  display: flex;
}

.grid-lines {
  background-size: 120px 120px;
  background-image: linear-gradient(
      to right,
      rgba(13, 76, 148, 0.28) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(13, 76, 148, 0.28) 1px, transparent 1px);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100%;
  z-index: -1;
  // border-image-source: ;
}

.hero-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 179px;
  top: 187px;
  color: white;

  & img {
    width: 228px;
    height: 228px;
    filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.15));
  }

  & span {
    text-decoration: underline;
    font-size: 18px;
  }

  @include devices(small) {
    top: unset;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    img {
      width: 64px;
      height: 64px;
    }

    color: black;
  }
}

.features-container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding-top: 3em;

  h2 {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -0.04em;
    color: black;
  }
}

.features-grid {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  gap: 2rem;
  margin-top: 2rem;

  &__item {
    background: #f8f9ff;
    box-shadow: 0px 5px 25px -7px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-weight: 500;
    letter-spacing: -0.04em;
    height: 120px;

    display: flex;
    align-items: center;
    gap: 1rem;

    h5 {
      color: $primary;
      font-size: 32px;
    }
    span {
      font-size: 18px;
      color: #42375a;
    }

    img {
      width: 58px;
      height: 58px;
    }
  }
}

.course-item {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;

  img {
    filter: drop-shadow(5px 4px 10px rgba(0, 0, 0, 0.3));
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: black;
  }

  &__control {
    display: flex;
    gap: 1em;

    button {
      padding: 0.5rem;
      box-sizing: border-box;
      width: 85px;
      height: 42px;
      color: $primary;
      border: 1px dashed $primary;
      border-radius: 26px;
    }
  }
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.course-item-container {
  max-width: calc(320px + 1em);
}

.courses-load-more {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: $primary;
  border: 1px dashed $primary;
  border-radius: 26px;
  margin-top: 2rem;
}

#services {
  margin-top: 5rem;
  h2 {
    text-align: center;
    color: $primary;
    font-weight: 800;
  }

  .services-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  h3 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.04em;

    color: $primary;
  }
}
