@use "sass:math";
@import "globals";


@import "homepage/index";
@import "about";
@import "membership";
@import "navbar";
@import "footer";

* {
  font-family: "Noto Sans Arabic", sans-serif;
}

// @include devices(large) {
//   h1 {
//     font-size: 100px !important;
//   }

//   h2 {
//     font-weight: 500;
//     font-size: 50px!important;
//     letter-spacing: -0.04em;
//     color: black;
//   }
// }
// @include devices(medium) {
//   h1 {
//     font-size: 80px !important;
//   }
//   h2 {
//     font-size: 50px !important;
//   }
//   h3 {
//     font-size: 24px!important;
//   }

//   h4 {
//     font-size: 20px!important;
//   }

//   h5 {
//     font-size: 16px!important;
//   }
// }

// @include devices(small) {
//   h1 {
//     font-size: 50px !important;
//   }
//   h2 {
//     font-weight: 500 !important;
//     font-size: 36px !important;
//     letter-spacing: -0.04em !important;
//     color: black !important;
//   }
//   h3 {
//     font-size: 24px!important;
//   }

//   h4 {
//     font-size: 20px!important;
//   }

//   h5 {
//     font-size: 20px!important;
//   }
// }


.responsive-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @include devices(small) {
    width: 90%;
  }

  @include devices(medium) {
    width: 768px;
  }

  @include devices(large) {
    width: 1440px;
  }
}

ul li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw!important;
  overflow-x: hidden!important;
}