@use "../helpers/nav-bar";
@use "../helpers/member-benefits";
@use "../helpers/register-section";
@use "../helpers/how-create-membership";
@use "../helpers/footer";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: white;
}

