:root {
    --desktop-medium-width: 1440px;
    --tablet-landscape-width: 1194px;
    --tablet-portrait-width: 834px;
    --mobile-landscape-width: 667px;
    --mobile-portrait-width: 375px;
    --root-container-maximum-width: 1920px;
    --slb-blue: #0014dc;
    --slb-white: #fff;
    --slb-aqua-blue: #00d2dc;
    --slb-deep-blue: #051464;
    --slb-frost-blue-1: #6e8cc8;
    --slb-frost-blue-2: #afbee1;
    --slb-black: #000;
    --slb-grey-1: #f0f0f0;
    --slb-grey-2: #dce1e1;
    --slb-grey-3: #c8cdcd;
    --slb-grey-4: #aaa;
    --slb-grey-5: #6c6969;
    --slb-red-error: #b50a0a;
    --slb-ext-green-1: #198c19;
    --slb-transparent: "transparent";
    --horizontal-padding-mobile: 24px;
    --horizontal-padding-tablet-portrait: 56px;
    --horizontal-padding-tablet-landscape: 94px;
    --horizontal-padding-desktop: 120px;
    --slb-bezier-curve: cubic-bezier(0.48, 0.14, 0.2, 0.69);
}

a {
    color: unset;
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: medium;

    & a {
        padding: 19px;

        &:hover {
            text-decoration: none!important;
        }
    }

}


.secondary-links {
    border-bottom: 1px solid var(--slb-grey-2);
    color: $primary!important;

    & a {
        position: relative;
        width: fit-content;

        &:hover:before {
            content: '';
            width: calc(100% - 38px);
            height: 3px;
            background-color: $primary;
            position: absolute;
            bottom: 3px;
        }
    }
}


.primary-links, .control-links {
    background-color: $primary;

    & a {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: rgba(255,255,255,0.25);
        padding: 19px;

        &:hover:not(.selected-link) {
            background-color: var(--slb-deep-blue)
        }
    }
}

.selected-link {
    border-color: white;
    border-top-width: 1px!important;
    border-top-style: solid;
    background-color: var(--slb-white)!important;
    color:$primary!important;
}

.control-links a {
    border-width: 0 0 0 1px;
}

.logo-container {
    border: 1px solid var(--slb-grey-2);
    border-width: 0 1px 1px 0;
    background-image: url('../assets/shared/spe_vert_white.svg');
    background-color: #001828;
    background-repeat: no-repeat;
    background-size: 72px 72px;
    background-position: 50% 50%;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        background-image: url('../assets/shared/spe-logo-2020.png');
        background-size: contain;
    }
}

.search-link {
    background-image: url('../assets/search-white.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
    padding: 0 36px!important;
    height: 100%;

    &.selected-link {
        background-image: url('../assets/search-blue.svg');
    }
}


.profile-link {
    height: 100%;
    padding: 0 36px!important;
    background-image: url('../assets/account-circle-white.svg');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 50% 50%;

    &.selected-link {
        background-image: url('../assets/account-circle-blue.svg');
    }
}

.submenu p {
    color: var(--slb-grey-5);
    width: 230px;
}

.submenu-aside {
    border-left: 1px solid var(--slb-grey-2);
}

.link {
    color: $primary!important;
}

#innovation {
    display: none;
}

#innovation.show {
    display: flex;
}