.is-pinned {
  box-shadow: 0 4px 2px -2px rgb(60 64 67 / 30%);
  position: fixed;
}

.is-pinned .tag {
  width: unset;
  min-width: unset;
  padding: 0 12px;
  margin-top: 5px;
}

.is-pinned .tag-text {
  font-size: 14pt;
  font-weight: normal;
}

.is-pinned .tag-icon,
.is-pinned .tag-desc {
  display: none;
}
